.header-container {
    width: 1248px;
    margin: 0 auto;
    margin-top: 40px;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.header-left-container {
    display: flex;
    align-items: center;
}
.header-home-link {
    display: inline-block;
    text-decoration: none;
}
.header-nav {
    margin-left: 40px;
}
.header-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}
.header-nav a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    opacity: 0.7;
    transition: color 0.3s ease, opacity 0.3s ease;
}
.header-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 5px;
}
.header-menu-btn {
    height: 32px;
    border: none;
    border-radius: 30px;
    padding: 0 6px;
    font-family: Poppins;
    font-size: 12px;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    background: var(--blue-dark-color);
    color: var(--white-color);
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.header-menu-btn p {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.marg-leng-1 {
    margin-top: 4px;
}
.marg-leng-2 {
    margin-top: -3px;
    opacity: 0.7;
}
.header-menu-select-leng {
    width: 72px;
    background: var(--blue-light-color);
    box-shadow: 0px 4px 40px 0px #00000040;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    transition: height 0.3s ease;
}

.header-menu-select-leng.visible {
    height: 64px;
}

.header-menu-select-leng.hidden {
    height: 0;
}

.header-menu-select-leng-item {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    cursor: pointer;
    margin: 0;
    color: var(--white-color);
    opacity: 0.7;
    margin-left: 10px;
    transition: color 0.3s ease, opacity 0.3s ease;
}
.header-menu-select-leng-item.active {
    color: var(--blue-color);
    opacity: 1;
}
@media (min-width: 1025px) {
    .header-nav a:hover {
        color: var(--blue-color);
        opacity: 1;
    }

    .header-menu-btn:hover p {
        opacity: 1;
    }

    .header-menu-select-leng-item:hover {
        color: var(--blue-color);
        opacity: 1;
    }
}
@media (max-width: 1439px) {
    .header-container {
        width: 100%;
    }

    .header-content {
        margin: 0 96px;
    }
}
@media (max-width: 1024px) {
    .header-container {
        margin-top: 10px;
    }
    .header-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }
    .header-nav ul{
        margin: 0;
    }
    .header-menu ul {
        margin: 4px 0 4px 0;
    }
}
@media (max-width: 555px) {
    .header-left-container{
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }
    .header-nav ul{
        width: 100%;
        justify-content: space-around;
    }
    .header-nav {
        width: 100%;
        margin: 0;
    }
}
.arrow {
    transition: transform 0.3s ease;
}
.arrow.rotated {
    transform: rotate(180deg);
}