:root{
    --blue-black-color: #19172F;
    --blue-dark-color: #222342;
    --blue-light-color: #1A1830;
    --white-color: #FFFFFF;
    --blue-color: #40A5F3;
    --violet-dark: #292946;
    --space-gray: #4A495F;
    --text-color-footer: rgba(186, 191, 199, 1);
    --violet-light: #23223B;
}